<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.3/lottie.min.js"></script>
</head>
<body>
    <div id="menu">
        <h1 id="gameOverScore">Game Over - Score: <b>0</b></h1>

        <label>Enter Nickname:</label>
        <input type="text" id="nickname" placeholder="Your name">

        <div id="recaptchaContainer" class="g-recaptcha" data-sitekey="6LdlVjcrAAAAAMOd9gLwWwnf3HuyX97o6MzP4nK7"></div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <label>Snake Color:</label>
        <input type="color" id="snakeColor" value="#00FF00">

        <div style="display: flex; width: 100%; gap: 10px; margin-top: 10px;">
            <div style="flex: 1;">
                <label>Difficulty:</label>
                <select id="difficulty">
                    <option value="120" data-name="easy">Easy</option>
                    <option value="80" data-name="medium" selected>Medium</option>
                    <option value="40" data-name="hard">Hard</option>
                </select>                
            </div>
            <div style="flex: 1;">
                <button onclick="startGame()">Start Game</button>
            </div>
        </div>

        <p id="highScore">High Score: 0</p>
    </div>

    <div id="scoreDisplay">Score: 0</div>

    <div id="winningAnimation" style="width: 300px; height: 300px; margin: 20px auto; display: none;"></div>

    <canvas id="gameCanvas" width="1000" height="800"></canvas>

    <div id="top-scores-wrapper">
    <div id="topScores" class="top-scores">
        <h3>Top 10</h3>
        <ul id="topScoresList"></ul>

        <!-- Ось нова позиція кнопки -->
        <div id="delete-section">
            <input type="password" id="adminPassword" placeholder="Enter admin password">
            <button onclick="deleteScores()">Delete Scores</button>
        </div>
    </div>
</div>

    <script src="static/script.js"></script>
</body>
</html>
